
.statement-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .navbar {
    background-color: #4caf50;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links li:hover {
    color: #45a049;
  }
  
  .statement {
    margin-top: 20px;
  }
  
  .statement h2 {
    color: black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color:#45f763;
    color: black;
  }
  
  td {
    background-color: #f9f9f9;
  }
  